
.nav-bar {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-bar-menu {
    display: flex;
    line-height: 1;
    list-style-type: none;
    margin: 0;
}

.nav-bar-item {
    padding: 10px 5px;
    font-weight: bold;
    color: white;
}

.nav-bar-item a {
    color: white;
    text-decoration: none;
}